<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello TikTok!</title>
</head>
<body>
    {% if error %}
        Here's your error! {{error}}
    {% endif %}

    {% if data == "calcerr" %}
        Извините, мы не смогли найти такого пользователя :(
    {% elif data %}
        Here's your data!
    <li>DEBUG_AMT_VALUE: {{data.get("amt")}}</li>
    <li>Имя пользователя: {{data.get("username")}}</li>
    <li>Био: {{data.get("bio")}}</li>
    <li>Аватарка: {{data.get("avatar")}}</li>
    <li>Подписчиков: {{data.get("totalSubs")}}</li>
    <li>Всего лайков: {{data.get("totalLikes")}}</li>
    <li>Всего видео: {{data.get("totalVideos")}}</li>
    <li>Лайкнул видео: {{data.get("totalLiked")}}</li>
    <li>Всего просмотров: {{data.get("totalViews")}}</li>
    <li>Всего комментариев: {{data.get("totalComments")}}</li>
    <li>Всего репостов: {{data.get("totalShares")}}</li>
    <li>Вовлечённость: {{data.get("engagement")}}</li>
    <li>Ориентировочный доход от видео: {{data.get("low_income")}} - {{data.get("high_income")}} ₽</li>
    <li>Рейтинг zoomeralliance: {{data.get("rating")}}</li>
    {% endif %}
    <form action="/calc" method="POST">
        <input type="text" name="username" id="username" placeholder="Enter tiktok acc name w/o @">
        <input type="submit">
    </form>
</body>
</html>